<div id="footer">
	<div class="container">
	<div class="row">
	<div class="col-md-3 col-sm-6">
<!--__________________ 1/4 width on desktop, 1/2 screen on tablet)________________ -->
		<h4>Pages</h4>
		<ul>
		<li><a href="#">About us</a></li>
		<li><a href="#">Terms and conditions</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="contact.html">Contact us</a></li>
		</ul>
	<hr>
		<h4>User section</h4>
		<ul>
		<li><a href="#">Login</a></li>
		<li><a href="./login/login.html">Register</a></li>
		</ul>
<!--_____________hide content from medium not small_____________________________________-->
	<hr class="hidden-md hidden-lg hidden-sm">
	</div>
<!--____________________ col-md-3 __________________________________________________-->
<div class="col-md-3 col-sm-6">
	<h4>Top Movies</h4>
	<h5>YEAR</h5>
	<ul>
	<li><a href="#">Action</a></li>
	<li><a href="#">Adventure</a></li>
	<li><a href="#">Comedy</a></li>
	</ul>
	<h5>Categories</h5>
	<ul>
	<li><a href="#">Crime</a></li>
	<li><a href="#">Drama</a></li>
	<li><a href="#">Fantasy</a></li>
	<li><a href="#">Comedy</a></li>
	</ul>
	<hr class="hidden-md hidden-lg">
</div>
	<!-- _____________col-md-3 ________________________________________________________-->
<div class="col-md-3 col-sm-6">
	<h4>Where to find us</h4>
		<p><strong>kls Ltd.</strong>
		<br>G 7A
		<br>Noida sec 63
		<br>Uttarpradesh
		<br>201301
		<br>
		<strong>Great INDIAN</strong>
		</p>
		<a href="contact.html">Go to contact page</a>
		<hr class="hidden-md hidden-lg">
	</div>
	<!--_____________________col-md-3 ________________________________________________-->
<div class="col-md-3 col-sm-6">
	<h4>Get the news</h4>
	<p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	<form>
	<div class="input-group">
		<input type="text" class="form-control">
		<span class="input-group-btn">
		<button class="btn btn-default" type="button">SUBMIT</button>
		</span>
	</div>
			<!-- __________________input-group clos_____________________________ -->
	</form>
	<hr>
	<!-- ______________________social icons______________________________-->
	<h4>Stay in touch</h4>
		<i class="fab fa-facebook fa-3x"></i>
		<i class="fab fa-twitter fa-3x"></i>
		<i class="fab fa-youtube fa-3x"></i>
		<i class="fab fa-instagram fa-3x"></i>
	</div>
<!-- ________________col-md-3 ______________________________________-->
</div>
<!--_________________row ____________________________________________-->
</div>
<!-- _________________container_____________________________ -->
</div>
<!-- ________________*** FOOTER END ***_____________________________ -->
