 
  <nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">MovieApp</a>
  <div class="container">
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/popular">Popular Movies </a>
      </li>
      <li class="nav-item">
        <a routerLink="/upcoming">Upcoming Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="/nowplaying">Now Playing Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="/toprated">Top Rated Movies</a>
      </li>
    </ul>
   </div>
  </div>
</nav>